yrok06/task41/bin/
yrok06/task41/obj/
yrok06/task43/bin/
yrok06/task43/obj/
yrok07/task47/bin/
yrok07/task47/obj/
yrok07/task50/bin/
yrok07/task50/obj/
yrok07/task52/bin/
yrok07/task52/obj/
yrok08/task54/obj/
yrok08/task54/bin/
yrok08/task56/obj/
yrok08/task56/bin/
yrok08/task60/obj/
yrok08/task60/bin/
yrok08/task58/obj/
yrok08/task58/bin/
yrok09/task64/obj/
yrok09/task64/bin/
yrok09/task66/obj/
yrok09/task66/bin/
yrok09/task68/obj/
yrok09/task68/bin/