yrok06/task41/bin/
yrok06/task41/obj/
yrok06/task43/bin/
yrok06/task43/obj/
yrok07/task47/bin/
yrok07/task47/obj/
yrok07/task50/bin/
yrok07/task50/obj/
yrok07/task52/bin/
yrok07/task52/obj/
